/* set comon fonts */
body {
    font-family: 'oswald' sans-serif;
    background-image: url(/assets/pattern.png);
    background-size: cover;
}
/* reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling for car cards */
.car {
    border: 2px solid black;
    max-width: 600px;
    margin: 20px;
    padding: 20px
}

/* Sizing and placement for images*/
.vehicles img{
    height: 120px;
    width: 120px;
}

/* Specific colors for headings */
.economy h2 {
    color: #FF7F0E;
}
.luxury h2 {
    color: #7F00FF;
}
.family h2 {
    color: #00B050;
}
/* All buttons size and style*/
.vehicles button {
    padding: 10px 25px; 
    font-size: 12px; 
    font-weight: bold; 
    cursor: pointer;
    color: #ffffff; 
}
/* Specific colors for each button */
.economy button {
    background-color: #FF7F0E;
}
.luxury button {
    background-color: #7F00FF;
}
.family button {
    background-color: #00B050;
}